# =========================
# SO
# =========================
.DS_Store
Thumbs.db
**/obj/
**/bin/

# =========================
# IDEs
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log
*.tmp
*.cache

# =========================
# Docker
# =========================
.env
.env.*
docker-compose.override.yml

# =========================
# Git
# =========================
*.orig

# =========================
# Build
# =========================
dist/
build/
node_modules/
**/dist/
**/build/
**/node_modules/

